grpcweb-transport does not handle non-ASCII metadata correctly

The `RpcMetadata` type allows arbitrary strings. But headers and trailers should only contain ASCII characters. 

From the [gRPC spec](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md):

> The value portion of Status-Message is conceptually a Unicode string description of the error, physically encoded as UTF-8 followed by percent-encoding. Percent-encoding is specified in RFC 3986 §2.1, although the form used here has different restricted characters. When decoding invalid values, implementations MUST NOT error or throw away the message. At worst, the implementation can abort decoding the status message altogether such that the user would received the raw percent-encoded form.

TODO

- [x] The `RpcMetadata` type should continue accepting arbitrary strings. 
- [ ] The transport should percent-encode non-ASCII characters and do the reverse when when reading metadata.
- [ ] The transport should probably also check for carriage return and newline characters and encode / decode them as well


This might not be an issue after all. I noticed that a status code with a space was encoded as %20. Happened with @grpc/grpc-js behind envoy 1.16.2. But a status code with a space generated by dotnet grpc web does not have this issue. I suspect envoy is a bit too eager with its encoding.
